.layout {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 240px;
    background: #111827;
    padding: 24px 16px;
    position: fixed;
    height: 100vh;
    left: 0;
    top: 0;
}

.sidebar-logo {
    margin-bottom: 32px;
}

.sidebar-logo h2 {
    color: white;
    font-size: 20px;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sidebar-menu a {
    display: flex;
    align-items: center;
    gap: 10px;

    color: #d1d5db;
    text-decoration: none;

    padding: 12px 14px;

    border-radius: 10px;

    transition: 0.2s;

    font-weight: 500;
    font-size: 14px;
}

.sidebar-menu a:hover {
    background-color: #1f2937;
    color: white;
}

.sidebar-menu i {
    width: 16px;
    text-align: center;
}

.main-content {
    flex: 1;
    margin-left: 240px;
    padding: 24px;
    width: calc(100% - 240px);
}

.active-sidebar {
    background-color: #2563eb;
    color: white !important;
}