altgraph==0.17.5
asgiref==3.11.1
certifi==2026.5.20
charset-normalizer==3.4.7
dj-database-url==3.1.2
Django==6.0.5
et_xmlfile==2.0.0
idna==3.16
numpy==2.4.4
openpyxl==3.1.5
packaging==26.2
pandas==3.0.2
pefile==2024.8.26
psycopg2-binary==2.9.12
pyinstaller==6.20.0
pyinstaller-hooks-contrib==2026.4
python-dateutil==2.9.0.post0
python-decouple==3.8
pywin32==311
pywin32-ctypes==0.2.3
requests==2.34.2
setuptools==82.0.1
six==1.17.0
sqlparse==0.5.5
tzdata==2026.2
urllib3==2.7.0
