# Django Core & Configuração
Django==6.0.5
asgiref==3.11.1
sqlparse==0.5.5
tzdata==2026.2
python-decouple==3.8
dj-database-url==3.1.2
psycopg2-binary==2.9.12

# Django Apps Auxiliares (APIs, CORS e formulários dinâmicos)
djangorestframework==3.17.1
django-cors-headers==4.9.0
django-select2==8.4.8

# Processamento de Dados (Planilhas Excel e utilitários)
pandas==3.0.2
numpy==2.4.4
openpyxl==3.1.5
et_xmlfile==2.0.0
python-dateutil==2.9.0.post0
unidecode==1.4.0
